/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    line-height: 1.6;
    padding: 20px;
}

header {
    background: #ff5733; /* Orange */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1, h2 {
    color: white;
}

section {
    background: #ffffff; /* White */
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 0.5em;
    color: #495057;
}

input[type="file"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

textarea {
    height: 100px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #ff5733; /* Orange */
    color: white;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff6b47; /* Slightly lighter orange on hover */
}

ul {
    list-style-type: none;
}

.list-item {
    text-align: center;
    padding: 20px;
    background-color: azure;
    width: 80%;
    margin: 10px;
    width: 40%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ff5733; /* Orange */
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color:red;
}

footer a:hover {
    text-decoration: none;
}

#view {
    background-color: white;
    padding: 10px;
}
