* {
  font-family: Arial, Helvetica, sans-serif;
/* styles.css */
}
/* Style the header */
header {
  background-color: red;
  color: white;
  padding: 20px;
}

/* Style the navigation links */
nav ul li {
  display: inline;
  display: flex;
    justify-content:space-around;
  margin-right: 10px;
}

nav ul li a {
  color: white;
    display: flex;
    justify-content:space-evenly;
  text-decoration: none;
}

/* Style the main content */
main {
  padding: 20px;
}

/* Style the about content */
#aboutContent {
  color: orange;
}

/* Style the footer */
footer {
  background-color: red;
  color: white;
  padding: 20px;
  text-align: center;
}
